# Docker Hub credentials used to build & push any app's image locally or in CI.
DOCKERHUB_USERNAME=tuusuario
DOCKERHUB_TOKEN=

# App being built/pushed right now.
APP_NAME=my-new-app
IMAGE_TAG=latest

# nasa-apod
api_key_nasa=